 .wrapnij {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
} 

/* Create four equal columnas that sits next to each other */
.columna {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.columna img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two columna-layout instead of four columnas */
@media screen and (max-width: 800px) {
  .columna {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columnas stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columna {
    flex: 100%;
    max-width: 100%;
  }
}

.podkreslenie {
  text-align: center;
  font-size: 15px;
  height: 20px;
  width: 100%;
  background-color: rgba(255, 153, 0, 0.95);
}

#slider{
  width:100%;
height:100%;
  position:absolute;
  overflow:hidden;
  z-index:-1;
  margin:0;
  padding-bottom:50px; 
}
/* Responsive layout */
@media screen and (max-width: 600px) {
    #slider {
        width:100%;
        height:680px;
        position:absolute;
        overflow:hidden;
        z-index:-1;
        margin:0;
        padding-bottom:30px;
    }
}

@keyframes load{
  from{left:-100%;}
  to{left:0;}
}
.slides{
  width:400%;
  height:100%;
  position:relative;
    -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}
.slider{
  width:25%;
  height: 100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}
.slide img{
  width:100%;
  height:100%;
}
.slide img{
  width:100%;
  height:100%;
}
.image{
  width:100%;
  height:100%;
}
.image img{
  width:100%;
  height:100%;
}

/* Legend */
.legend{
	border: 500px solid transparent;
	border-left: 800px solid rgba(52, 73, 94, .7);
	border-bottom: 0;
	position: absolute;
	bottom: 0px;
	left: 0px;

}

/* Contents */
.content{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  
}
.content-txt{
  width:400px;
  height:150px;
  float:left;
  position:relative;
  top:300px;
  -webkit-animation:content-s 7.5s infinite;
  -moz-animation:content-s 7.5s infinite;
  animation:content-s 7.5s infinite;
}
.content-txt h1{
  font-family:Arial;
  text-transform:uppercase;
  font-size:24px;
  color:#fff;
  text-align:left;
  margin-left:30px;
  padding-bottom:10px;
}
.content-txt h2{
  font-family:arial;
  font-weight:normal;
  font-size:14px;
  font-style:italic;
  color:#fff;
  text-align:left;
  margin-left:30px;
}

/* Switch */
.switch{
  width:120px;
  height:40px;
  position:absolute;
  bottom:50px;
  z-index:99;
  left:30px;
  
}
.switch > ul{
  list-style:none;
}
.switch > ul > li{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#333;
  float:left;
  margin-right:5px;
  cursor:pointer;
}
.switch ul{
  overflow:hidden;
}
.on{
  width:100%;
  height:100%;
  border-radius:50%;
  background:#f39c12;
  position:relative;
  -webkit-animation:on 30s infinite;
  -moz-animation:on 30s infinite;
  animation:on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-moz-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}

@-webkit-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-moz-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@keyframes content-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}

@-webkit-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@-moz-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}
.article header,
.article-content {
  padding: 30px;
}

.article header {
  background-size: cover;
  background-position: 50%;
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  
  box-sizing: border-box;
  min-height: 80vh;
  color: rgb(241, 149, 44);
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.article-content {
  line-height: 2.6rem;
}

.article-title {
  font-size: 4.1rem;
  font-weight: normal;
  margin: 0;
  padding-bottom: 24px;
}

.article-lead {
  font-size: 2.1rem;
  font-weight: 300;
  margin: 0;
  padding-bottom: 44px;
}

.article-author {
  color: #dce5f0;
  margin: auto;
  font-size: 2.4rem;
}

.article-author::after {
  content:"\00b7"; 
  display: block;
  color: #FFFFFF;
}

.article-time {
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.article-content {
  text-align: justify;
  max-width: 1020px;
  margin: auto;
  box-sizing: border-box;
}

.article-image {
  margin: 0;
  text-align: center;
}

.article-image img {
  max-width: 100%;
}

.article-caption {
  color: #78909C;
  text-align: center;
}

.article-columns p {
  width: 340px;
}

.article-intro p {
  padding: 5px;
  margin: 0;
  -webkit-margin-before: 0;
  -moz-margin-before: 0;
}

.article-author-photo {
  border-radius: 50%;
  max-width: 200px;
  margin-bottom: 25px;
}

.article-sidebar {
  border-top: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;
  padding-top: 82px;
  padding-bottom: 82px;
  margin-top: 104px;
  margin-bottom: 104px;
}

.article-sidebar h3 {
  display: none;
}



/*----------------- FOOTER------------------------*/

.foot {
  margin-top: 2vh;
  height: 90px;
  width: 100%;
  background-color: rgba(255, 153, 0, 0.8);
}

.foot ul {
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  padding: 0px;
  display: flex;
}

.foot ul li {
  margin-top: 25%;
  list-style: none;
}

.foot ul li a {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  /*background: #ccc;*/
  text-decoration: none;
  color: #262626;
  margin: 0 10px;
  transition: 0.5s;
}
.foot ul li a span {
  position: absolute;
  transition: transform 0.5s;
}

/* Horizontal*/
.foot ul li a span:nth-child(1),
.foot ul li a span:nth-child(3) {
  width: 100%;
  height: 1px;
  background: #262626;
}

.foot ul li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
.foot ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.foot ul li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.foot ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
/*---vertical----*/

.foot ul li a span:nth-child(2),
.foot ul li a span:nth-child(4) {
  width: 1px;
  height: 100%;
  background: #262626;
}

.foot ul li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}
.foot ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.5s;
}

.foot ul li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}
.foot ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

/*----------------- END FOOTER---------------------*/
.bg-jumpers {
  background-color: rgba(22, 22, 21, 0.8) !important;
  font-size: 1.2em;
  text-align:center
}
