body
{
  margin: 0;
  padding: 0;
  width: 100%;
  height:100vh;
  overflow: hidden;
}
#particle-js
{
  width: 100%;
  height:100%;
  background: #000;
  backgroun: linear-gradient(45deg, #e91e63, #ff9800);
    
}
